body{
  font-family: 'Open Sans', sans-serif!important;
}
div.input-group div span {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
div.input-group input{
  text-align: center;
}
div.row div.input-group{
  padding-right: 0;
}
div.row div.col-sm-12{
  text-align:center;
}
input:disabled {
  cursor: not-allowed;}